<footer class="footer">
  <div class="container">

    <div class="row">

      <div class="six columns">
        <a href="https://github.com/polymer940c"><i class="fa fa-github" aria-hidden="true"> Github</i> </a>
        <a href="https://www.linkedin.com/in/kevin-w-hu/"><i class="fa fa-linkedin-square" aria-hidden="true"> Linkedin</i></a>
        <a href="http://hissho.deviantart.com/"><i class="fa fa-deviantart" aria-hidden="true"> Deviantart</i></a>
        <p class="footer-column text">Copyright 2017</p>
      </div>

      <div class="six columns">
        <!-- <form action="{{ site.baseurl }}/search/" method="get" class="search-form">
          <div class="form-group">
            <input type="text" id="search-box" class="form-control" name="query" placeholder="Query...">
          </div>
          <button type="submit" class="button button-primary">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</footer>
