<div class="footer-basic">
    <footer>
        <div class="social"><a href="#" data-aos="flip-left" data-aos-duration="650"><i class="icon ion-social-github"></i></a><a href="#" data-aos="flip-left" data-aos-delay="50"><i class="icon ion-social-google"></i></a>
            <a href="#" data-aos="flip-left" data-aos-delay="100"><i class="icon ion-social-linkedin"></i></a><a href="#" data-aos="flip-left" data-aos-delay="150"><i class="icon ion-ios-paper"></i></a></div>
        <p class="copyright">Copyright© 2017</p>
    </footer>
</div>
