<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{% if page.tag %}{{ site.data.tags[page.tag].name }}{% else %}{{ page.title }}{% endif %} &middot; {{ site.title }}{% endif %}</title>

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  <link rel="stylesheet" href="assets/stylesheets/styles.min.css">


  <!-- Raleway font for the skeleton -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->

  <!-- FontAwesome files -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/production/stylesheets/font-awesome.min.css"> -->

  <!-- Site's compiled CSS -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/production/stylesheets/main.min.css"> -->

  <!-- <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" /> -->

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="{{ site.url }}/assets/production/favicon.ico"> -->

  <!-- RSS -->
  <!-- <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}atom.xml"> -->
</head>
